<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
    <div class="">
        <label for="">userName:</label>
        <input class="name-ipt" type="text">
    </div>
    <div class="">
        <label for="">userPwd:</label>
        <input class="pwd-ipt" type="password">
    </div>
    <div>
        <button class="submit" type="submit">submit</button>
        <button type="reset">reset</button>
    </div>
</form>
<script src="libs/jquery/v1.12.4/jquery.min.js"></script>
<script src="libs/jquery.base64/jquery.base64.js"></script>
<script>
    $(function () {
        function encodeBase64(mingwen,times){
            var code="";
            var num=1;
            if(typeof times=='undefined'||times==null||times==""){
                num=1;
            }else{
                var vt=times+"";
                num=parseInt(vt);
            }
            if(typeof mingwen=='undefined'||mingwen==null||mingwen==""){
            }else{
                $.base64.utf8encode = true;
                code=mingwen;
                for(var i=0;i<num;i++){
                    code=$.base64.btoa(code);
                }
            }
            return code;
        };

        $('.submit').on('click', function () {
            var name = $('.name-ipt').val();
            var pwd = $('.pwd-ipt').val();
            var data = {
                "username": name,
                "userpwd": pwd
            };
            var dataBase64=encodeBase64(JSON.stringify(data));//eyJ1c2VybmFtZSI6InF6cyIsInVzZXJwd2QiOiIxMjMifQ==
            $.ajax({
                url: "http://localhost:3000/login",
                type: 'get',
                data: 'p='+dataBase64,
                success: function (results) {
                   alert(results)
                },
                error: function (error) {
                    alert('error:'+error);
                }
            })
        })
    })
</script>
</body>
</html>
